<div class="text-red-500 p-3 font-mono my-5">
  <% unavailable_extensions.each do |extension, queries| %>
    WARNING: Queries <%= queries.map { |q| "<b><u>#{q}</u></b>" }.join(", ").html_safe %> require extension: <b><%= extension %></b>
    <br>
  <% end %>
 </div>


<span id="rails" class="font-mono font-bold p-3 bg-gray-100 cursor-pointer select-none">RAILS</span>
<pre id="rails_code" class="font-mono p-5 bg-gray-100 block">
  <% unavailable_extensions.each do |extension, queries| %>
ActiveRecord::Base.connection.enable_extension "<%= extension %>"
  <% end %>
</pre>

<div class="my-5" />

<span id="sql" class="font-mono font-bold p-3 bg-gray-100 cursor-pointer select-none">SQL</span>
<pre id="sql_code" class="font-mono p-5 bg-gray-100">
  <% unavailable_extensions.each do |extension, queries| %>
CREATE EXTENSION <%= extension %>;
  <% end %>
</pre>

