<!DOCTYPE html>
<html>
<head>
  <title><%= content_for :title %></title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="p-5 text-xs">
  <%= yield %>
</body>
</html>
